.cam{
        position: fixed;
        top: 80px;
        overflow-y: scroll;
        left: 25.4cm;
        width: 8.2cm;
        height: 13.15cm;
}
.std1{
        position: relative;
        background-color: white;
        width: 7.5cm;
        height: 3.4cm;
        top: 0px;
        left: 10px;
        border-radius: 6px;
}
.std2{
        position: relative;
        background-color: white;
        width: 7.5cm;
        height: 3.4cm;
        top: 0.2cm;
        left: 10px;
        border-radius: 6px;
}
.std3{
        position: relative;
        background-color: white;
        width: 7.5cm;
        height: 3.4cm;
        top: 0.4cm;
        left: 10px;
        border-radius: 6px;
}
.std4{
        position: relative;
        background-color: white;
        width: 7.5cm;
        height: 3.4cm;
        top: 0.6cm;
        left: 10px;
        border-radius: 6px;
}
.std5{
        position: relative;
        background-color: white;
        width: 7.5cm;
        height: 3.4cm;
        top: 0.8cm;
        left: 10px;
        border-radius: 6px;
}
.std6{
        position: relative;
        background-color: white;
        width: 7.5cm;
        height: 3.4cm;
        top: 1cm;
        left: 10px;
        border-radius: 6px;
}
.std7{
        position: relative;
        background-color: white;
        width: 7.5cm;
        height: 3.4cm;
        top: 1.2cm;
        left: 10px;
        border-radius: 6px;
}
.std8{
        position: relative;
        background-color: white;
        width: 7.5cm;
        height: 3.4cm;
        top: 1.4cm;
        left: 10px;
        border-radius: 6px;
}
.stdunmuted{
        position: relative;
        top: 9px;
        left: 8px;
        width: 7cm;
        height: 3cm;
        background-color: #aaffd6;
}
.std{
        position: relative;
        top: 9px;
        left: 8px;
        width: 7cm;
        height: 3cm;
        background-color: lightgray;
}
.i2{
        position: relative;
        top: 0.3cm;
        left: 6px;
        height: 14px;
        z-index: 3;
}
.i3{
        position: relative;
        top: 0.3cm;
        left: 6px;
        height: 14px;
        z-index: 3;
}
.acc{
        background-color: white;
        width: 2.1cm;
        height: 2.1cm;
        border-radius: 1.05cm;
        position: relative;
        top: 0.5cm;
        left: 2.5cm;
}
.acc2{
        background-color: #aaffd6;
        width: 1.9cm;
        height: 1.9cm;
        border-radius: 0.85cm;
        position: relative;
        top: 4px;
        left: 4px;
        border-color: white;
        border: 4px;
}
.ac1{
        background-color: white;
        width: 1.76cm;
        height: 1.76cm;
        border-radius: 0.88cm;
        position: fixed;
        top: 3.03cm;
        right: 3.9cm;
        animation: expand 800ms linear 60ms infinite forwards;
}
.ac2{
        background-color: white;
        width: 1.76cm;
        height: 1.76cm;
        border-radius: 0.88cm;
        position: relative;
        top: 3px;
        left: 3px;
          
}
.aa1{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 0.5cm;
        left: 0.35cm;
        z-index: 4;
}
.aa2{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 0.4cm;
        left: 0.3cm;
}
@keyframes expand{
        0%{
                width: 1.76cm;
                height: 1.76cm;
                border-radius: 0.88cm;
                position: fixed;
                top: 3.03cm;
                right: 3.9cm;
        }
        25%{
                width: 1.86cm;
                height: 1.92cm;
                border-radius: 0.92cm;
                position: fixed;
                top: 2.98cm;
                right: 3.86cm;
        }
        50%{
                width: 1.96cm;
                height: 1.96cm;
                border-radius: 0.98cm;
                position: fixed;
                top: 2.93cm;
                right: 3.82cm;
        }
        75%{
                width: 2.06cm;
                height: 2.06cm;
                border-radius: 1.03cm;
                position: fixed;
                top: 2.88cm;
                right: 3.78cm;
        }
        100%{
                width: 2.16cm;
                height: 2.16cm;
                border-radius: 1.08cm;
                position: fixed;
                top: 2.83cm;
                right: 3.73cm;
        }
}